@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");

html {
    min-width: 1200px;
    min-height: 600px;
    max-height: 900px;
    overflow: auto;
}

body {
    background-color: #ffea00;
    font-family: "Press Start 2P", cursive;
}

.heading1 {
    font-size: 30px;
}

.kotakShow {
    margin: auto;
    width: 200px;
    height: 200px;
    border: 4px dashed white;
}

.nama {
    text-decoration: underline;
}

.card {
    background-color: #ffea00;
    border: none;
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.yaudah {
    display: block;
    margin: auto;
}

.deskripsi li {
    background-color: #ffea00;
}

/* #areaInfo {
    background-color: black;
} */

.footer {
    font-family: "Roboto Mono", monospace;
    background-color: #bdad04;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
}
